/**
  * Autor: Samael Pereira Simões
  * Ano de desenvolvimento 04-07-2018
*/

.custom-banner-1 {
	background-color: #265369;
	padding: 10px; 
	color: #fff;
}

.custom-banner-2 img {
	height: 40px;
    width: auto;
}

.custom-banner-2-img1 img {
	width: auto;
    height: 30px;
}
.custom-banner-2-img2 img {
	width: auto;
    height: 25px;
}

.custom-banner-2-padding {
	padding-top: 65px;
	padding-bottom: 15px;
}
.custom-banner-2 {
	text-align: center;
}

@media only screen and (max-width: 748px) {
	.custom-inf-produtos img {
		height: 307px!important;
	}
	.custom-banner-1 {
		text-align: center;
	}
	.custom-banner-1-padding-cols {
		padding-bottom: 10px;
	}
	.custom-banner-2-padding {	
		padding-top: 10px;
	}	
	.custom-banner-3 h3 {
		text-align: center;
	}
	.custom-logos i{
		padding-bottom: 10px;
	}
	.custom-infs {
		text-align: center;
	}
	.custom-menu-produto a {
		text-align: center;
	}
}

.custom-menu-banner-2 {
	text-align: center;
}

.custom-menu-banner-2 ul a:hover, .custom-menu-banner-2.active {
	border-radius: 8px;
	background-color: #27a9ca;
	color: rgb(255, 255, 255) !important;
	font-weight: 700; 
}

.custom-menu-banner-2 a {
	border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    color: #535b6c;
    text-transform: uppercase;
    padding: 15px;
    font-size: 14px !important;
	font-family: 'Raleway';
	text-align: center;
}

.custom-banner-3 {
	background: linear-gradient(to bottom, #44d9f391 0%, #27a0b5ba 40%, #2293a7 100%);
}
.custom-banner-3 h3 {
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: bold;
    text-align: left;
}

.custom-banner-3 p {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
	text-align: left;
}

.custom-logos i {
	font-size: 25px;
	color: #ed5b28a3;
	font-weight: bold;
}

.custom-efeito-titulo-menu-inf {
	width: 60%;
    border: none;
	border-bottom: 1px solid #fff;
}

.custom-efeito-titulo-menu {
	width: 60%;
    border: none;
	border-bottom: 1px solid #1b5478;
}

.custom-produtos h1 {
	font-size: 40px;
    line-height: 40px;
    color: #265369;
    text-transform: uppercase;
	font-weight: bold;
	font-family: 'Raleway';
	text-align: center;
}

.custom-produtos h2 {
    font-size: 20px;
    line-height: 20px;
    color: #265369;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
    text-align: center;
}

.custom-produtos span {
    font-size: 15px;
    line-height: 15px;
    color: #777;
    font-family: 'Raleway';
}

.custom-produtos p {
    font-size: 15px;
    line-height: 15px;
    color: #777;
    font-family: 'Raleway';
}

.custom-acessorios {
	padding-top: 10px;
}
.custom-img-produtos img {
	width: 100%;
    height: 300px;
}

.custom-padding-produtos {
	padding-top: 15px;
}
.custom-col-produtos{
	padding-bottom: 15px;
}

.custom-acessorios h5{
	display: block;
    font-size: 18px;
    color: #265369;
    font-weight: bold;
}

.custom-menu-produto li a:hover, .custom-menu-produto.active{
	border-radius: 8px;
	background-color: #27a9ca;
	color: rgb(255, 255, 255) !important;
	font-weight: 700; 
}

.custom-menu-produto a {
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    color: #535b6c;
    text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
    font-size: 14px !important;
    font-family: 'Raleway';
}

/* custom-Inf dos produtos */

.custom-inf-produtos {
	padding-top:15px;
}

.custom-inf-produtos img {
    width: auto;
    height: 380px;
}

.custom-inf-produtos h1 {
    font-size: 16px;
    line-height: 16px;
    color: #265369;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
}

.custom-inf-produtos h3 {
    font-size: 16px;
    line-height: 16px;
    color: #7d4c92;
    font-weight: bold;
    font-family: 'Raleway';
}
.custom-inf-produtos span {
    font-size: 16px;
    line-height: 16px;
    color: #8ebe51;
    font-weight: bold;
    font-family: 'Raleway';
}

.custom-padding-produto-fixo {
	padding-top: 5px;
}
.custom-padding-produto-comentario {
	padding-top: 15px;
}

.custom-color-footer {
	background-color: #265369;
}
.custom-padding-footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.custom-text-footer p {
	color: #fff;
    font-size: 22px;
    line-height: 22px;
    font-weight: 400 !important;
    font-family: 'Raleway';
}
.custom-text-footer a {
	color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 200 !important;
    font-family: 'Raleway';
}

.custom-inf-menu1 img {
	height: 95px;
    width: auto;
}
.custom-inf-menu2 img {
	height: auto;
    width: 80px;
}
.custom-inf-menu3 img {
	height: auto;
    width: 85px;
}
.section {
	padding-top: 5px;
    padding-bottom: 5px;
}

.custom-paralax {
	background-image: url(assets/img/img1.jpg) !important;
	min-height: 550px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.custom-categoria h1 {
	font-size: 40px;
    line-height: 40px;
    color: #265369;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
}

.custom-categoria a {
	font-size: 35px;
    line-height: 35px;
    color: #7f4a92;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
}
.custom-categoria p {
	font-size: 17px;
    line-height: 17px;
    color: #969696;
    font-family: 'Raleway';
}
.custom-categoria img {
	width: 100%;
    height: 450px;
}

.custom-categoria-padding {
	padding-top: 15px;
	padding-bottom: 15px;
}